
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Laptop", "details", "products", new { product = "Laptop" }, null) </li>
    <li>@Html.ActionLink("Tablet", "details", "products", new { product = "Tablet" }, null) </li>
    <li>@Html.ActionLink("Desktop", "details", "products", new { product = "Desktop" }, null) </li>
</ul>

